figure {
  height: 28vh;
  width: 16vw;
  object-fit: contian;
  overflow: hidden;
}

.card-panel {
  width: 30vw;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5em;
  margin-top: 2.5em;
}


section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-right: 0.25em;
}
h5 {
  font-size: 2em;
  font-weight: 600;
}

h4 {
  font-size: 3em;
  font-weight: 600;
}

p {
  font-size: 1em;
}
