html {
  line-height: 1.5em;
}

.brand-logo {
  font-family: 'Droid Serif', serif;
}

#logo {
  font-size: 3.5em;
  background-color: #f5f5f5;
}

 .opa {
  width: 100vw;
  background: #fff;
  opacity: 0.5;
}


  .parallax-container {
      height: 75vh;
    }

blockquote {
  margin: 0 2em;
  font-size: 1.5em;
  font-style: italic;
  text-indent: 2em;
}

blockquote p {
  padding: 2em 0;
  font-style: italic;
}


figure {
  height: 28vh;
  width: 16vw;
  object-fit: contian;
  overflow: hidden;
}

.card-panel {
  width: 30vw;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  padding: 0.5em;
}

.btn {
  margin-bottom: 1rem;
}


.main,
.search,
.extra, {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#main,
#new,
#extra {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-right: 0.25em;
}

#retina {
  max-width: 28vw;
}

h5 {
  font-size: 2em;
  font-weight: 600;
  margin: 0.4rem 0 0.3rem 0;
}

h4 {
  font-size: 3em;
  font-weight: 600;
  margin: 0rem 0 0rem 0;
}

h1 {
  color: #2e7d32;
  text-transform: uppercase;
}

p {
  font-size: 1em;
}

.load-more {
  margin-left: 45vw;
  margin-bottom: 2em;
}

.intro {
  font-size: 1.75em;
  padding: 1em;
}

@media only screen and (min-width : 1300px) {
  .card-panel {
    width: 22vw;
  }
  .load-more {
    margin-left: 48vw;
  }
  #retina {
    max-width: 20vw;
  }
}


@media only screen and (max-width : 992px) {
  .card-panel {
    width: 40vw;
  }
  #retina {
    max-width: 38vw;
  }
}

@media only screen and (max-width : 768px) {
  .card-panel {
    width: 100vw;
  }

  #retina {
    max-width: 98vw;
  }

  .load-more {
    margin-left: 42vw;
  }

  #logo {
    display: none;
  }

  form {
    margin-left: 25vw;
  }
 }
